@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* font-family: 'Righteous', cursive;*/
:root {
    --text-color: #fff2e7;
    --button-othertext-color: #ecd6c4;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Main header*/

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.main-header-img {
    height: 72px;
}

.main-header-menu {
    display: flex;
    gap: 82px;
}

.main-header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
}

/* Main Content */

main {
    margin-bottom: 48px;
    border-top: 0.4px solid var(--text-color);  
}

.main-content {
    display: flex; /* iniciando*/ 
    flex-direction: row; /* 2- propriedades do fle-box, quando jogamos o flex-box automaticamente ja fica definidoo por padrão flex-direction row, e como vamos usar row, não precisariamos colocar.*/ 
    align-items: center; /* para arrumar centralizando os itens */ 
    justify-content: space-around; /* para colocar um espaço nas coisas entre si */ 
}

.main-content-written {
    display: flex;
    flex-direction: column;
    gap: 32px; /* espaços entre os elementos*/ 
}

.main-content-written-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: var(--text-color);
}

.main-content-written-subtitle {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.main-content-written-button {
    background-color: var(--button-othertext-color);
    width: 180px;
    height: 60px;
    border: none;
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}

.main-content-img {
    height: 430px;
}

/* Secondary Main Content */

.secondary-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content-title{
    border-top: 0.4px solid var(--text-color);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.secondary-content-p {
    font-family: 'Sarala', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 18px;
}

/* Footer */

footer {
    padding: 32px;
    border-top: 0.4px solid var(--text-color);
}

.footer-img {
    height: 48px;
    display: block;
    margin: 0 auto;
}