@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
/* font-family: 'Righteous', cursive;*/
:root {
    --text-color: #fff2e7;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Main header*/

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.main-header-img {
    height: 72px;
}

.main-header-menu {
    display: flex;
    gap: 82px;
}

.main-header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
}

/* Main Content */

main {
    margin-bottom: 48px;
    border-top: 0.4px solid var(--text-color);  
}

.main-content {
    display: flex; /* iniciando*/ 
    flex-direction: row; /* 2- propriedades do fle-box, quando jogamos o flex-box automaticamente ja fica definidoo por padrão flex-direction row, e como vamos usar row, não precisariamos colocar.*/ 
    align-items: center; /* para arrumar centralizando os itens */ 
    justify-content: space-around; /* para colocar um espaço nas coisas entre si */ 

}
